<header class="header">
  <div class="header__top">
    <div class="header__logo">
      <img src="/assets/icons/Logo.png" alt="Evolution Logo" />
    </div>

    <nav class="header__nav">
      <a href="/events">Events</a>
      <a href="/stories">Stories</a>
      <a href="/our-mission">Our Mission</a>
      <a href="/contact-us">Contact us</a>
      <a [routerLink]="['/comments']">Comments</a>

      <div class="header__profile">
        <a
          href="#"
          class="header__profile-link"
          (click)="toggleDropdown($event)"
        >
          {{ currentUser ? currentUser.username : "My Profile" }}
        </a>
        <div class="header__profile-dropdown" [class.visible]="dropdownVisible">
          <a [routerLink]="['/signIn']" *ngIf="!currentUser">Sign In</a>
          <a [routerLink]="['/signUp']" *ngIf="!currentUser">Sign Up</a>
          <a [routerLink]="['/']" (click)="signOut()" *ngIf="currentUser"
            >Sign Out</a
          >
        </div>
      </div>
    </nav>

    <button *ngIf="isOrganizerOrAdmin" class="header__create-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path d="M12 5v14M5 12h14" />
      </svg>
      Create an event
    </button>
  </div>

  <div class="header__banner">
    <div class="header__banner-overlay"></div>
    <img
      src="/assets/images/MainPic.png"
      alt="Music Studio"
      class="header__banner-image"
    />
    <div class="header__banner-content">
      <h1>Music</h1>
      <p>in Pennsylvania</p>
      <p class="header__banner-description">
        Explore the music events in your city and those happening online.
      </p>
    </div>
  </div>
</header>
